---
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const iso = post.data.date.toISOString().slice(0, 10);
---

<li class="post-item">
  <a href={`/blog/${post.id}/`} class="post-row">
    <time datetime={iso}>{iso}</time>
    <span class="post-title">{post.data.title}</span>
  </a>
  <div class="post-sub">
    {post.data.description && <p class="post-description">{post.data.description}</p>}
    <div class="post-tags">
      {post.data.tags.map((tag) => <span class="post-tag">{tag}</span>)}
    </div>
  </div>
</li>
